# Binaries
/drd4
drd4
/tmp/drd4.bin
last-run.log
drd4-tdah.dnd

# Build output
/bin/
/obj/

# Vendor
/vendor/

# Go workspace
*.exe
*.dll
*.so
*.dylib

# Dependency directories
pkg/

# Editor/IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Environment files
.env

# NCBI cache
*.json
*.log
drd4_ncbi_cache.json
/.cache/

# Test output
*.out

# Go test cache
testdata/

# ignore generated protobufs or similar (if any)
**/*.pb.go

psipred_audit.log
logs/log_file.log
ncbi_cache
banco-japao.fasta
logs/log_file.log

access.log