{
    "input_fasta": "drd4-tdah.fasta",
    "output_json": "database.json",
    "log_file": "last-run.log",
    "log_level": "debug",
    "ncbi_cache_path": "./ncbi_cache",
    "ncbi_api_key": "YOUR_API_KEY",
    "ncbi_cache_ttl_seconds": 604800,
    "use_external_translator": false,
    "aligner": "mafft" // ou "clustalw"
}